.atl-product-list {
	margin-top:0.28rem;
	.am-list-body{
		border:none;
		&:after {
			border:none;
		}
	}
}

.normal-list-row {
	padding:0 0.2rem;
}

.normal-list {
	//height:3.2rem;
	background: #fff;
	margin-bottom:0.28rem;
	padding:0.2rem 0.2rem; 
    position: relative;
    display:flex !important;
	align-items:center !important;
	justify-content:center !important;
	.pro-img {
	    position: relative;
	    box-sizing: border-box;
	    text-align:center;
	    // flex:1;
	    width: 36%;
		img {
			width:100%;
			// max-width:100%;
			max-height: 3.2rem;
		}
	}

	.product-info-box {
	    display:flex;
	    //justify-content:center;
	    align-items:center;
	    flex:2;
	    margin-left:0.45rem;
        .product-name {
    	   	color: #232326;
			font-size: 0.32rem;
			line-height:0.32rem;
			max-height:0.64rem;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    display: -webkit-box;
		    display: box;
		    -webkit-line-clamp: 2;
		    -webkit-box-orient: vertical;
		    word-break: break-all;
		    text-align:left;
        }

        .product-price-m {
        	margin-top:0.2rem;
        	color:#f23d3d;
        	text-align:left;
        }

        .gray-pro-info {
        	margin-top:0.2rem;
        	display:flex !important;
			align-items:center !important;
			justify-content: flex-start;//flex-start!important;
        	span {
        		height:0.34rem;
        		border: solid 1px rgba(201, 201, 201, 1);
        		border-radius: 0.17rem;
        		font-size:0.2rem;
        		color:#999;
        		line-height:0.34rem;
        		display:inline-block;
        		padding:0 0.1rem;
        		margin-right:0.2rem;
        	}

        	span:last-child {
        		margin-right: 0;
        	}

        	.primary {
        		border: solid 1px rgba(51, 163, 244, 1);
        		color: #33a3f4;
        	}
        }
	}
}


.product-detail-head {
	padding-top: 0.23rem;
	background: #fff;
	.main-img {
		//height:5rem;
		background:#fff;
		text-align:center;
		img {
			width:auto;
			height:auto;
			max-width:100%;
			min-height:4.48rem;
			max-height:4.48rem;
		}
	}

	.prod-info {

		.prod-name {
			color:#666;
			font-size:0.3rem;
			line-height:0.32rem;
			margin-bottom:0.2rem;
			word-break:break-all;
		}

		.prod-price {
			height:0.54rem;
			line-height:0.54rem;
			.price-mon {
				color: #999;
				font-size:0.26rem;
				float:left;
				.num {
					font-size:0.54rem;
					color: #f23d3d;

					.rmb {
						font-size:0.24rem;
						font-style:initial;
					}
				}
			}

			.prod-tip {
				float:right;
				span{
					height:0.34rem;
	        		border: solid 1px rgba(51, 163, 244, 1);
        			color: #33a3f4;
	        		border-radius: 0.17rem;
	        		font-size:0.2rem;
	        		line-height:0.34rem;
	        		display:inline-block;
	        		padding:0 0.1rem;
	        		margin-right:0.2rem;
				}
			}
		}
	}
}

.to-order-info {
	.lbl {
		margin-right:0.2rem;
		float:left;
		color:#666;
	}
	.val {
		float:left;
	}

	.perporties {
		span {
			margin-right: 0.1rem;
		}
	}

	.am-list-item .am-list-line .am-list-extra{
		flex-basis:70%;
		color:#000;
	}
}

.prod-tabs {
	height:0.96rem;
	display:flex;
	justify-content:center;
	align-items:center;
	background:#fff;
	border:1px solid #ddd;
	border-bottom:none;
	.tab {
		height:0.96rem;
		line-height:0.96rem;
		flex:1;
		text-align:center;
		color:#666;
		border-bottom:1px solid #ddd;
	}
	.choose {
		color:#33a3f4;
		border-bottom:1px solid #33a3f4;
	}
}

.tabContent {
	padding-bottom: 1.25rem;
}

.prod-handle {
	height:1.15rem;
	line-height:1.15rem;
	position:fixed;
	bottom:0px;
	width:100%;
	display:flex;
	align-items:center;
	border-top:1px solid #ddd;
	z-index: 1;

	.need-pay {
		height:100%;
		flex:3;
		background:#fff;
		.lbl {
			margin-left:0.2rem;
			font-size:0.3rem;
			color:#666;
		}
		.price {
			font-size:0.46rem;
			color:#f23d3d;

			em {
				font-size:0.3rem;
				font-style:normal;
			}
		}

	}

	.btn {
		height:100%;
		flex:2;
		background:#33a3f4;
		font-size:0.34rem;
		color:#fff;
		text-align:center;
		border-radius:inherit;
		line-height:1.15rem;
	}
}

.popup-list .am-list-body {
  height: 50%;
  overflow: auto;
}

.choose-property-modal {
	position:fixed;
	bottom:0;
	left:0;

	.am-modal-close {
		top:0.12rem;
	}

	.property-list {
		background:#f5f5f9;
		//padding-bottom:2rem;
	}

 	.handle {
 		position:fixed;
 		bottom:0;
 		width:100%;
 		padding:0.2rem 0;
 		background:#fff;
 		left:0;
 	}

 	.am-modal-body {
 		height:75%;
 	}

 	.am-modal-footer {
 		height:25%;
 	}
}


.alt-product-detail-spec {
	background-color: white;
	padding:0 0.3rem 0.3rem;
	border:1px solid #ddd; 
	
	.sub-title {
		height:1rem;
		line-height:1rem;
		color: #888;
  		font-size: 0.32rem;
  		text-align:left;
	}

	.spec-items {
		.item {
			height:0.6rem;
			font-size:0.35rem;
			width:50%;
			text-align:center;
			margin-bottom:0.1rem;
			.box {
				margin: 0 0.06rem;
				border:2px solid #ddd;
				border-radius:10px;
				height:100%;
				box-sizing: border-box;
				display:flex !important;
				align-items:center !important;
				justify-content:center !important;
				font-size:0.26rem;
			}
			.box.disabled {
				color:#888;
			}
			.box.active {
				border-color:#108ee9;
				color:#108ee9;
			}
		}
	}
}

.mustInput{color:#f23d3d;}

.am-list-item .am-input-label.am-input-label-5 { width: 1.9rem; }

.code-pannel {
	border-top:1PX solid #ddd;
	border-bottom: 1PX solid #ddd;
	background-color: #fff;
	width:100%;

	.main-code {
		width: 400px;
		margin: 0.32rem auto 0.32rem;
		border: 1PX solid #ddd;
	}

	.code-head {
		height: 0.64rem;
	    // line-height: 0.64rem;
	    display: flex;
	    text-align: center;
	    justify-content: center;
	    align-items: center;
	    border-bottom: 1PX solid #ddd;
	}

	.code-head img{
		height: 0.32rem;
		margin-right: 5px;
	}

	.code-content {
		display: flex;
	    text-align: center;
	    justify-content: center;
	    align-items: center;
	    padding:0.2rem 0;
	}

	.codeDes {
		color:#666;
		text-align: center;
		padding:0 0.64rem 0.64rem;
	}
}

.rental-product-list {
	.rental-product {
		border-top:1PX solid #ddd;
		border-bottom: 1PX solid #ddd;
		padding: 0.2rem 0.3rem;
		background-color: #fff;
		display: flex;
		align-items: center;

		.rental-product-img {
			width: 26.25%;
			margin-right: 0.2rem;
			display: flex;
			align-items: center;
			img { width: 100%; }
		}
		.rental-product-info {
			p { margin: 0; padding: 0;}
			.product-name{
				font-size:0.3rem;
				margin-bottom: 0.11rem;
				word-break: break-all;
			}
			.product-configure{
				// font-size:0.12rem;
				color:#666;
				font-size:0.26rem;
				margin-bottom: 0.11rem;
			}
			.product-info{
				font-size:0.26rem;
				.unit { margin-right: 15px; }
				.color {}
			}
		}
	}
}



.link-to-wap-site {
	padding: 0 0.2rem;
	.link-to-wap-site-main {
		// width: 100%;
		background-color: #fff;
		padding:0.32rem 0.2rem 0.32rem 0.2rem;
		display: flex;
		justify-content: center;
		.logo {
			width: 36%;
			img {
				width: 100%;
			}
		}

		.link-des {
			display: flex;
			flex: 2 1 0%;
			justify-content:flex-end;
			align-items: center;
			.btn {
				padding: 10px;
				border: solid 1px #33a3f4;
				color:#33a3f4;
				border-radius: 0.33rem;
				display: flex;
				justify-content: center;
				align-items: center;
				// margin-right: 0.32rem;
				img {
					height: 0.2rem;
					margin-left: 10px;
				}
			}
		}
	}
}


.detail-productDesImg {
	overflow: hidden;
	img {
		float: left;
		width: 100%;
	}	
}


.esport-wapper {
	position: relative;

	.guide {
		// display: none;
		position: fixed;
		width: 100%;
		// margin: 0 0 0 10%;
		background-color:rgba(0,0,0,.65);
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		.guide-content {
			position: relative;
			width: 80%;
			margin: 1rem 0 0 10%;
			img { width: 100%; }
			.close {
				position: absolute;
				right: 0.2rem;
				top: 0.2rem;
				width: 0.3rem;
			}
		}
	}

	.img-container {
		width: 100%;
		img { 
			width: 100%; 
			float: left;
		}
	}

	.des-handle-container {
		// height: 102px;
		background-color:#1d0c3f;
		width: 100%;
		float: left;
		text-align: center;
		padding: 0.3rem 0 0.2rem 0;
		img {
			width: 43.125%;
		}
	}

	.esport-footer {
		position: relative;
		.link-to-mall {
			position:absolute;
			right: 0.2rem;
			img { 
				width: 100%;
			}
		}
	}
}