.atl-account-header {
  	background-color: white;
  	display:flex;
  	justify-content:flex-start;
  	align-items:center;

    background:url('../images/account/head-bg.png');
    height:2.16rem;
    background-size:cover;


  	&-avatar {
  		height:1.44rem;
  		margin:0 0.3rem 0 0.53rem;
  		border-radius: 50%;
  		img {
  			height:100%;
  			border-radius: 50%;
  		}
  	}
  	&-text {
  		display: inline-block;
	  	font-size: 0.36rem;
	  	line-height: 1;
      color:#fff;
  	}
}

.am-grid {
  border: 1px solid #ddd;
}
.sub-title {
  color: #888;
  font-size: .28rem;
  padding: 0.3rem 0 0.18rem 0.3rem;
}

.amount-grid {

  .am-grid-item {
    height:1.6rem;

    .amount-item {
      display:flex !important;
      align-items:center !important;
      justify-content:center !important;
      flex:1;
      height:100%;

      .val {
        font-size:0.36rem;
      }
      .label {
        color: #888;
        font-size: 0.28rem;
        margin-top: 0.24rem;
      }
    }

  }
}

.customer-base-info .am-list-item .am-list-line .am-list-extra {
  flex-basis:60%;
  color:#000;
}