html,body {
	font-family: "PingFang SC,Helvetica Neue,Hiragino Sans GB,Helvetica,Microsoft YaHei,Arial"
}
.alt {
	&-header{
		font-size: .38rem;
	    color: #404040;
	    padding: .42rem 0.42rem 0.3rem;
	    text-align: left;
	    height: .4rem;
	    text-align:center;
	    position:relative;

	    .icon {
		    display: inline-block;
		    width: .38rem;
		    height: .38rem;
		    background-image: url(../images/home.png);
		    background-size: contain;
		    vertical-align: -.02rem;
		    margin-right: .6rem;
		    position: absolute;
		    left:0.42rem;
		}
	} 

	&-title{
		padding: .3rem 0 .18rem .3rem;
	    color: #000;
	    font-size: .32rem;
	    line-height: .32rem;
	    height: .32rem;
	    font-weight: bolder;
	    position: relative;
	}
    
}

.atl-brief-tip {
	font-size:0.28rem;
	color:#888;
	margin-left: .16rem; 
	margin-right: .16rem
}

.alt-img-gallery {
	.am-image-picker-item-remove { display:none;}
}

.alt-list-brief {
	color:#888;
	font-size: 0.3rem;
    line-height: 1.5;
    margin-top: 0.12rem;
}

.am-refresh-control-deactive .am-refresh-control-ptr-icon {
  display: block;
}


.atl-order-row {
	/* padding: 0 0.3rem; */
	background-color:white;

	&-head {
		height:0.76rem;
		line-height:0.76rem;
		color:#888;
		font-size:0.26rem;
		/* border-bottom:1px solid #ddd; */
		padding: 0 0.3rem;
	}

	&-content {
		display:-webkit-box;
		display:flex;
		padding:0.3rem; 
		background-color:#f8f8f8;
	}

	&-img {
		height:1.1rem;
		width:1.1rem;
		margin-right:0.3rem;
		background-color:white;
		padding:6px;
		border:1px solid #ddd;
		border-radius:6px;
		img {
			max-width:100%;
		}
	}

	&-info {
		display:inline-block;
	}

	&-des {
		max-width:5rem;
		font-size:0.26rem;
		line-height: 0.36rem;
		color:#000;
		height:1.1rem;
		display:flex;
		align-items:center;
		justify-content:flex-end;
		padding:6px 0;
	}

	&-footer {
		background-color:white;
		&-price {
			height:0.8rem;
			line-height:0.8rem;
			text-align:right;
			padding:0 0.3rem; 
			font-size:0.26rem;
			
			&-a {
				font-size:0.27rem;
				font-weight:bolder;	
			}
		}

		&-btns {
			height:0.8rem;
			line-height:0.8rem;
			text-align:right;
			padding:0 0.3rem; 
			border-top:1px solid #ddd;
			display:flex;
			align-items:center;
			justify-content:flex-end;

			&-btn {
				margin-left:0.1rem;
			}
		}
	}
}

.atl-empty-container {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	margin-top:50%;
	&-icon {
		width:1.8rem;
		height:1.8rem;
		img {
			width:100%;
		}
	}

	&-des {
		margin-top:0.32rem;
		color:#888;
		text-align:center;
	}
}


.atl-order-item {
	
	&-content {
		display:-webkit-box;
		display:flex;
		padding:0.3rem; 
		background-color:#f8f8f8;
	}

	&-img {
		height:1.1rem;
		width:1.1rem;
		margin-right:0.3rem;
		background-color:white;
		padding:6px;
		border:1px solid #ddd;
		border-radius:6px;
		float: left;
		img {
			height:100%;
			width:auto;
		}
	}

	&-info {
		display:inline-block;
	}

	&-des {
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		max-width:5rem;
		font-size:0.26rem;
		line-height: 0.36rem;
		color:#000;
	}

	&-attribute {
		font-size:0.26rem;
		color:#888;
		&-i {
			margin-right:0.2rem;
		}
	}

	&-info-footer {
		&-price {
			font-size:0.26rem;
		}
		&-btns {
			float:right;
			position:absolute; 
			bottom: 0.1rem;
			right:0.3rem;
		}
	}
}

.order-basic-info {
	&-i {
		font-size:0.26rem;
		color:#686868;
	}
	
	.mb {
		margin-bottom: 0.1rem;
	}

	&-btns .am-list-content {
		display:flex;
		align-items:center;
		justify-content:flex-end;

		.am-button {
			margin-left:0.1rem;
		}
	}
}

.atl-list-view {
	.am-list-body{
		background-color:#f5f5f9;
	}
}


.alt-product-detail-head {
	background-color:white;
	border:1px solid #ddd;
	.title{ 
		width:88%; 
		margin: auto;
		padding-top:0.32rem;
		padding-bottom: 0.3rem;
		font-size:0.42rem;
		text-align:center;
	}
	.des1 {
		padding:0rem 0.3rem 0.3rem;
		text-align:center;
		color:#808080;
	}
	.des2 {
		padding:0rem 0.3rem 0.3rem;
		text-align:center;
		font-size:0.26rem;
		line-height:0.36rem;
	}

	.product-img-carousel {
		padding-bottom:0.36rem;
		margin-bottom:0.32rem;
		min-height: 3.33rem;
		ul li a {
			display:flex !important;
			align-items:center !important;
			justify-content:center !important;
			//padding:0.3rem 0;
		}
	}
}


.atl-edit-address {
	.am-list-item .am-list-line .am-list-extra {
		flex-basis:45%;
	}
	.am-textarea-control textarea, .am-list-item .am-input-control input {
		color:#888;
	}

}


.atl-order-detail-list {
	.am-list-item .am-list-line .am-list-extra {
		flex-basis:auto;
	}
}

.atl-plan-list {
	.tag {
		border:1px solid #ddd;
		margin-left:0.2rem;
		font-size:0.26rem;
		padding:0.05rem;
		color:#888;
		border-radius:0.05rem;
	}

	.tag.tag2 {
		color:green;
		border-color:green;
	}

	.tag.tag3,.tag.tag4 {
		color:red;
		border-color:red;
	}

	.price {
		font-size:0.26rem;
		color:#888;
		margin-left:0.5rem;
	}
}

.atl-identity-imgbox {
	.box {
		border-color:#f5f5f9;
		min-height:1.8rem;
		height:auto;
		border:1px solid #ddd;
		display:flex !important;
		align-items:center !important;
		justify-content:center !important;
		margin:0.1rem;
		text-align:center;
		.des {
			color:#888;
			font-size:0.26rem;
			margin-left:5px;
		}
	}

	.imgbox {
		border:1px solid #ddd;
		padding: 5px;
		border:1px solid #ddd;
		border-radius:5px;
		img {
			height:auto;
			width:100%;
		}
	}
}

.alt-identity-veiwlist .am-list-item .am-list-line .am-list-extra {
	flex-basis:auto;
}

.alt-grid {
	display:flex;
	align-items:center;
	justify-content:center;
	&-item {
		border-top:1px solid #ddd;
		border-right:1px solid #ddd;
		flex:1;
		height:1rem;
		display:flex;
		align-items:center;
		justify-content:center;
		font-size:0.3rem;
		color:#108ee9;
	}
	&-item:last-child{
		border-right:none;
	}
}

.alt-des-imgs {}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.product-list-rentType {
	height:0.8rem;
	line-height:0.8rem;
	text-align:right;
	margin-right:0.2rem; 
	font-size:0.26rem;
}


.order-product-list-item {
	margin-bottom:0.15rem;
}

.statement-list-item .am-list-item .am-list-line .am-list-extra, .rental-list-item .am-list-item .am-list-line .am-list-extra {
  flex-basis:70%;
  color:#000;
}
.rental-list-item .am-list-item .am-list-line .am-list-extra {
	color:#888;
}
.customerNameInput input {
	text-align:right !important;
}


.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-justify {
  text-align: justify !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-white {
  color: #ffffff;
}
a.text-white:hover {
  color: #808080;
}
.text-white-light {
  color: #ffffff;
}
.text-white-lighter {
  color: #ffffff;
}
.text-white-dark {
  color: #f6f6f6;
}
.text-white-darker {
  color: #ececec;
}
.text-muted {
  color: #999999;
}
a.text-muted:hover {
  color: #191919;
}
.text-muted-light {
  color: #a2a2a2;
}
.text-muted-lighter {
  color: #acacac;
}
.text-muted-dark {
  color: #909090;
}
.text-muted-darker {
  color: #868686;
}
.text-primary {
  color: #4a89dc;
}
a.text-primary:hover {
  color: #061221;
}
.text-primary-light {
  color: #5993df;
}
.text-primary-lighter {
  color: #6a9ee2;
}
.text-primary-dark {
  color: #3b7fd9;
}
.text-primary-darker {
  color: #2a74d6;
}
.text-success {
  color: #70ca63;
}
a.text-success:hover {
  color: #0f220c;
}
.text-success-light {
  color: #7ccf70;
}
.text-success-lighter {
  color: #8ad480;
}
.text-success-dark {
  color: #64c556;
}
.text-success-darker {
  color: #56c046;
}
.text-info {
  color: #3bafda;
}
a.text-info:hover {
  color: #030e13;
}
.text-info-light {
  color: #4ab5dd;
}
.text-info-lighter {
  color: #5bbce0;
}
.text-info-dark {
  color: #2ca9d7;
}
.text-info-darker {
  color: #269dc9;
}
.text-warning {
  color: #f6bb42;
}
a.text-warning:hover {
  color: #362503;
}
.text-warning-light {
  color: #f7c153;
}
.text-warning-lighter {
  color: #f8c867;
}
.text-warning-dark {
  color: #f5b531;
}
.text-warning-darker {
  color: #f4ae1d;
}
.text-danger {
  color: #e9573f;
}
a.text-danger:hover {
  color: #250904;
}
.text-danger-light {
  color: #eb654f;
}
.text-danger-lighter {
  color: #ed7561;
}
.text-danger-dark {
  color: #e7492f;
}
.text-danger-darker {
  color: #e5391d;
}
.text-alert {
  color: #967adc;
}
a.text-alert:hover {
  color: #211245;
}
.text-alert-light {
  color: #a188e0;
}
.text-alert-lighter {
  color: #ae98e4;
}
.text-alert-dark {
  color: #8b6cd8;
}
.text-alert-darker {
  color: #7e5cd4;
}
.text-system {
  color: #37bc9b;
}
a.text-system:hover {
  color: #000000;
}
.text-system-light {
  color: #3ec7a5;
}
.text-system-lighter {
  color: #4ecbac;
}
.text-system-dark {
  color: #33ae90;
}
.text-system-darker {
  color: #2e9e83;
}
.text-dark {
  color: #3b3f4f;
}
a.text-dark:hover {
  color: #000000;
}
.text-dark-light {
  color: #434759;
}
.text-dark-lighter {
  color: #4b5065;
}
.text-dark-dark {
  color: #333745;
}
.text-dark-darker {
  color: #2b2e39;
}
.text-tp {
  color: rgba(0, 0, 0, 0.2);
}
a.text-tp:hover {
  color: rgba(0, 0, 0, 0.3);
}