
.alt-explore-page {
	background-color:#fff;
	padding-bottom:1.44rem;
}

.atl-wel-page {
	width:100%;
	img {
		width:100%;
	}
}

.alt-step {
	background: #fff;
	width:100%;
	overflow: hidden;
	
	.title {
		margin:0.48rem 0;
	
		&-main {
			display:flex;
			justify-content:center;
			align-items:center;
			
			.i-wave {
				width:0.96rem;
				height:0.36rem;
				background:url('../images/explore/icon-bl.png');
				display:inline-block;
				background-size: cover;
			}

			.text {
				font-size:0.5rem;
				margin:0 0.4rem;
			}	
		}
	}

	.step-row {
		/* width:100%; */
		height:1.96rem;
		padding:0 0.6rem;

		.step {
			/* width:6.29rem; */
			margin:auto;
			background-color: rgba(255, 255, 255, 1);
			box-shadow: 0.067rem 0.057rem 0.152rem 0.028rem rgba(0, 0, 0, 0.14);
			border-radius: 4px 4px 4px 4px;
			border: solid 1px rgba(244, 244, 244, 1);
			height:100%;

			.left {
				width:2.05rem;
				height:1.96rem;
				background:url('../images/explore/icon1.png');
				background-size:cover;
				float:left;
			}

			.icon1 {
				background:url('../images/explore/icon1.png');
				background-size:cover;
			}

			.icon2 {
				background:url('../images/explore/icon2.png');
				background-size:cover;
			}

			.icon3 {
				background:url('../images/explore/icon3.png');
				background-size:cover;
			}

			.icon4 {
				background:url('../images/explore/icon4.png');
				background-size:cover;
			}

			.right {
				margin-left:0.44rem;
				float:left;
				height:100%;
				display:flex;
				justify-content:center;
				align-items:center;
				.tit {
					em {
						margin-right: 0.1rem;
					}
					font-size:0.4rem;
					color:#3986f9;
					font-weight:bold;
					margin-bottom:0.2rem;
				}
				.des {
					font-size:0.28rem;
					color:#666;
				}
			}
		}
	}

	.step-row.last {
		padding-bottom:0.2rem;
	}

	.footprint {
		width:0.84rem;
		height:0.86rem;
		background:url('../images/explore/icon-zy.png');
		background-size:cover;
		margin:0.25rem auto 0.31rem;
	}
}


@media screen and (min-width: 320px) {
	.alt-step .step-row {
		height:1.568rem;
	}
    .alt-step .step-row .step .left {
    	width:1.64rem;
    	height:1.568rem;
    }

    .alt-step .step-row .step .right {
    	margin-left:0.374rem;
    }
}