.atl-help-row {
	padding:0 0.4rem;

	.help-bar {
		height:1.28rem;
		border-left:6px solid rgba(0, 160, 234, 1);
		margin-bottom:0.3rem;
		background-color: rgba(255, 255, 255, 1);
		box-shadow: 0px 2px 0.2rem 2.6px rgba(0, 0, 0, 0.14);
		border-radius: 4px 0px 0px 4px;
		position:relative;

		.help-type {
			line-height:1.28rem;
			font-size: 0.36rem;	
			margin-left: 0.3rem;
			float:left;
		}

		.help-icon {
			width:0.88rem;
			height:1.28rem;
			float:right;
			position:absolute;
			right:0;
			top:0;
			background:url('../images/help/icon1.png');
			background-size:cover;
		}

		.icon1 {
			background:url('../images/help/icon1.png');
			background-size:cover;
		}
		.icon2 {
			background:url('../images/help/icon2.png');
			background-size:cover;
		}
		.icon3 {
			background:url('../images/help/icon3.png');
			background-size:cover;
		}
		.icon4 {
			background:url('../images/help/icon4.png');
			background-size:cover;
		}
	}
}

.help-detail {
	margin:0.5rem;
	background-color:#fff;
	.content {
		padding:0.44rem 0.65rem 0.73rem;

		.title {
			font-size:0.32rem;
			font-weight:bold;
			margin-bottom:0.25rem;
		}

		.title2 {
			font-size:0.30rem;
			font-weight:bold;
			margin-bottom:0.25rem;
		}

		.section {
			font-size:0.30rem;
			line-height:0.4rem;
		}

	}
	
}