.atl-product-list {
	margin-top:0.28rem;
	.am-list-body{
		border:none;
		&:after {
			border:none;
		}
	}
}

.normal-list-row {
	padding:0 0.2rem;
}

.normal-list {
	//height:3.2rem;
	background: #fff;
	margin-bottom:0.28rem;
	padding:0.11rem 0.2rem; 
    position: relative;
    display:flex !important;
	align-items:center !important;
	justify-content:center !important;
	.pro-img {
	    position: relative;
	    box-sizing: border-box;
	    text-align:center;
	    flex:1;
		img {
			width:auto;
			max-width:100%;
			max-height: 3.2rem;
		}
	}

	.product-info-box {
	    display:flex;
	    //justify-content:center;
	    align-items:center;
	    flex:2;
	    margin-left:0.45rem;
        .product-name {
    	   	color: #232326;
			font-size: 0.32rem;
			line-height:0.32rem;
			max-height:0.64rem;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    display: -webkit-box;
		    display: box;
		    -webkit-line-clamp: 2;
		    -webkit-box-orient: vertical;
		    word-break: break-word;
		    text-align:left;
        }

        .product-price-m {
        	margin-top:0.2rem;
        	color:#f23d3d;
        	text-align:left;
        }

        .gray-pro-info {
        	margin-top:0.2rem;
        	display:flex !important;
			align-items:center !important;
			justify-content: flex-start;//flex-start!important;
        	span {
        		height:0.34rem;
        		border: solid 1px rgba(201, 201, 201, 1);
        		border-radius: 0.17rem;
        		font-size:0.2rem;
        		color:#999;
        		line-height:0.34rem;
        		display:inline-block;
        		padding:0 0.1rem;
        		margin-right:0.2rem;
        	}

        	span:last-child {
        		margin-right: 0;
        	}

        	.primary {
        		border: solid 1px rgba(51, 163, 244, 1);
        		color: #33a3f4;
        	}
        }
	}
}


.product-detail-head {
	.main-img {
		//height:5rem;
		background:#fff;
		text-align:center;
		img {
			width:auto;
			height:auto;
			max-width:100%;
			min-height:4.48rem;
			max-height:4.48rem;
		}
	}

	.prod-info {

		.prod-name {
			color:#666;
			font-size:0.3rem;
			line-height:0.32rem;
			margin-bottom:0.2rem;
		}

		.prod-price {
			height:0.54rem;
			line-height:0.54rem;
			.price-mon {
				color: #999;
				font-size:0.26rem;
				float:left;
				.num {
					font-size:0.54rem;
					color: #f23d3d;

					.rmb {
						font-size:0.24rem;
						font-style:initial;
					}
				}
			}

			.prod-tip {
				float:right;
				span{
					height:0.34rem;
	        		border: solid 1px rgba(51, 163, 244, 1);
        			color: #33a3f4;
	        		border-radius: 0.17rem;
	        		font-size:0.2rem;
	        		line-height:0.34rem;
	        		display:inline-block;
	        		padding:0 0.1rem;
	        		margin-right:0.2rem;
				}
			}
		}
	}
}

.to-order-info {
	.lbl {
		margin-right:0.2rem;
		float:left;
		color:#666;
	}
	.val {
		float:left;
	}

	.perporties {
		span {
			margin-right: 0.1rem;
		}
	}

	.am-list-item .am-list-line .am-list-extra{
		flex-basis:70%;
		color:#000;
	}
}

.prod-tabs {
	height:0.96rem;
	display:flex;
	justify-content:center;
	align-items:center;
	background:#fff;
	border:1px solid #ddd;
	border-bottom:none;
	.tab {
		height:0.96rem;
		line-height:0.96rem;
		flex:1;
		text-align:center;
		color:#666;
		border-bottom:1px solid #ddd;
	}
	.choose {
		color:#33a3f4;
		border-bottom:1px solid #33a3f4;
	}
}

.tabContent {
	padding-bottom: 1.25rem;
}

.prod-handle {
	height:1.15rem;
	line-height:1.15rem;
	position:fixed;
	bottom:0px;
	width:100%;
	display:flex;
	align-items:center;
	border-top:1px solid #ddd;
	z-index: 1;

	.need-pay {
		height:100%;
		flex:3;
		background:#fff;
		.lbl {
			margin-left:0.2rem;
			font-size:0.3rem;
			color:#666;
		}
		.price {
			font-size:0.46rem;
			color:#f23d3d;

			em {
				font-size:0.3rem;
				font-style:normal;
			}
		}

	}

	.btn {
		height:100%;
		flex:2;
		background:#33a3f4;
		font-size:0.34rem;
		color:#fff;
		text-align:center;
		border-radius:inherit;
		line-height:1.15rem;
	}
}

.popup-list .am-list-body {
  height: 50%;
  overflow: auto;
}

.choose-property-modal {
	position:fixed;
	bottom:0;
	left:0;

	.am-modal-close {
		top:0.12rem;
	}

	.property-list {
		background:#f5f5f9;
		//padding-bottom:2rem;
	}

 	.handle {
 		position:fixed;
 		bottom:0;
 		width:100%;
 		padding:0.2rem 0;
 		background:#fff;
 		left:0;
 	}

 	.am-modal-body {
 		height:75%;
 	}

 	.am-modal-footer {
 		height:25%;
 	}
}


.alt-product-detail-spec {
	background-color: white;
	padding:0 0.3rem 0.3rem;
	border:1px solid #ddd; 
	
	.sub-title {
		height:1rem;
		line-height:1rem;
		color: #888;
  		font-size: 0.32rem;
  		text-align:left;
	}

	.spec-items {
		.item {
			height:0.6rem;
			font-size:0.35rem;
			width:50%;
			text-align:center;
			margin-bottom:0.1rem;
			.box {
				margin: 0 0.06rem;
				border:2px solid #ddd;
				border-radius:10px;
				height:100%;
				box-sizing: border-box;
				display:flex !important;
				align-items:center !important;
				justify-content:center !important;
				font-size:0.26rem;
			}
			.box.disabled {
				color:#888;
			}
			.box.active {
				border-color:#108ee9;
				color:#108ee9;
			}
		}
	}
}
