html,
body { 
  // font-family: 'Microsoft YaHei', 'PingFang SC'; 
  font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.cursor { pointer: cursor; }
#skin-toolbox .panel-heading { width: 230px; right: 0; }
.table>thead>tr>th:last-child,
.table tbody > tr > td:last-child { padding-right: 11px; }
.table>thead>tr>th:first-child,
.table tbody > tr > td:first-child { padding-left: 11px; text-align: left; }
// .table>thead>tr>th {white-space: nowrap;}


#actionCommonButtons .btn,
.pagerContainer .btn,
.actionCommonButtons .btn,
.pagerContainer .btn,
#exportButton .btn { margin-right: 5px; border-radius: 5px !important; }
.button,
.btn,
.admin-form .button { border-radius: 5px; }
.table tbody > tr > td:last-child .btn-group.link-group a { position: relative; float: left; margin-right: 5px; text-decoration: none;
  &:after { content: "|"; padding-left: 5px; }
  &:last-child { margin-right: 0;
    &:after { content: ""; padding-left: 0px; }
  }
}
.btn-search { cursor: pointer; }
.rtlnao.affix { position: relative !important; }
// 圆角
.bradiusL { border-radius: 5px 0 0 5px !important; }
.bradiusR { border-radius: 0 5px 5px 0 !important; }
.bradius { border-radius: 5px !important; }
.bradiusN { border-radius: 0 !important; }
.btn-group .btn { border-radius: 0; }

.dl-horizontal-rental dt { text-align: left; width:auto !important;}
.dl-horizontal-rental dd { margin-left: 0px !important; }

.Rental-timeline { font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.5; color: rgba(0, 0, 0, 0.65); -webkit-box-sizing: border-box; box-sizing: border-box; list-style: none; margin: 0; padding: 0; }
.Rental-timeline-item { position: relative; padding: 0 0 20px; list-style: none; margin: 0; font-size: 14px; }
.Rental-timeline-item-tail { position: absolute; left: 4px; top: 0.75em; height: 100%; border-left: 2px solid #e8e8e8; }
.Rental-timeline-item-pending .Rental-timeline-item-tail { display: none; }
.Rental-timeline-item-head { position: absolute; width: 10px; height: 10px; background-color: #fff; border-radius: 100px; border: 2px solid transparent; }
.Rental-timeline-item-head-blue { border-color: #1890ff; color: #1890ff; }
.Rental-timeline-item-head-red { border-color: #f5222d; color: #f5222d; }
.Rental-timeline-item-head-green { border-color: #52c41a; color: #52c41a; }
.Rental-timeline-item-head-light { border-color: #f0f0f0; color: #f0f0f0; }
.Rental-timeline-item-head-custom { position: absolute; text-align: center; line-height: 1; margin-top: 0; border: 0; height: auto; border-radius: 0; padding: 3px 0; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); top: 5px; left: 5px; width: auto; }
.Rental-timeline-item-content { padding: 0 0 0 18px; position: relative; top: -6px; }
.Rental-timeline-item-last .Rental-timeline-item-tail { border-left: 2px dotted #e8e8e8; display: none; }
.Rental-timeline-item-last .Rental-timeline-item-content { min-height: 48px; }
.Rental-timeline.Rental-timeline-pending .Rental-timeline-item-last .Rental-timeline-item-tail { display: block; }


.list-unstyled-print li{ overflow: hidden; }
.list-unstyled-print .write-span {
	// border-bottom: 1px solid #333; 
	width: 112px; 
	float: left;
}

.forprint {
	display:none;
}

.fs36 {
	font-size: 36px !important;
}

@media print {
	.invoice-pannel-footer {
	    display: none !important;
	    visibility: hidden;
	    width: 0 !important;
	    height: 0 !important;
	    outline: 0;
	    padding: 0 !important;
	    margin: 0 !important;
	    overflow: hidden;
  	}
  	.noprint {
  		display: none !important;
  	}
  	.forprint {
  		display:block;
  	}

    .panel-body {
      padding:0 !important;
    }
}

.barcode50MM24MM {
	width: 310px;
    height: 120px;
    box-shadow: 0 0 5px 2px #ddd;
    padding: 15px;
}

.barcode48M18MM{
    width: 275px;
    height: 100px;
    box-shadow: 0 0 5px 2px #ddd;
    padding: 15px;
}

.print-under-line {
  border-bottom:1px solid #333;
}

.admin-form .gui-input[disabled], .admin-form .gui-textarea[disabled], .admin-form .select > select[disabled] {
  color:#666;
}

:-moz-placeholder { 
          color: #999; opacity: 1; }
      ::-moz-placeholder { 
          color: #999; opacity: 1; }
      input:-ms-input-placeholder { color: #999; opacity: 1; }
      input::-webkit-input-placeholder { color: #999; opacity: 1; }


/*
*author:zhangsheng
*time: 2018-02-03
*/
.quick-compose-form{
  position: fixed;
  bottom: -520px;
  right: -720px;
  z-index: 500;
  max-width: 700px;
  height: 500px;
  opacity: 0;
  transition: all .3s ease-in-out;
  &.active{
    bottom: 20px;
    right: 20px;
    opacity: 1;
  }
  .writeBox{
    background: #fff;
    border: 1px solid #ddd;
  }
  .compose-header{
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px 5px 5px 10px;
    width: 100%;
    height: 36px;
    background: #30363e;
    .title{
      line-height: 26px;
      font-size: 16px;
      font-weight: 700;
      color: #fff; 
    }
    .close-btn{
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height: 36px;
      width: 36px;
      line-height: 36px;
      text-align: center;
      color: #fff;
    }
  }
  .form-group{
    margin-bottom: 10px;
    height: 39px;
    &:last-child{
      height: 248px;
    }
    .control-label{
      margin-top: 10px;
      text-align: right;
    }
    .input-group{
      width: 100%;
    }
    .area{
      height: 248px;
    }
  }
  .btn-wrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    width: 100%;
    height: 64px;
    border-top: 1px solid #ddd;
    .btn{
      float: right;
    }
  }
}
.unread{
  color: #f0a91c;
}
.read{
  color: #999;
}
.textOverflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.account-title{
  height: 37px;
  line-height: 37px;
  background: #fafafa;
  color: #666;
  font-size: 13px;
  font-weight: 600;
}

.nowrap {
  white-space: nowrap !important;
}

.c6 {
  color: #666 !important;
}

.c9{
  color: #999 !important;
}


.ui-datepicker {
  z-index:9025 !important;
}

#riskHistoryTable th, #riskHistoryTable td {
  white-space: nowrap;
}

#accountListTable th, #accountListTable td {
  white-space: nowrap;
}

#couponListTable th, #couponListTable td {
  white-space: nowrap;
}

#customerAddressPannel .address-item:nth-child(3n+4) {
  clear: both;
}

.over-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hasTooltip .tooltip { z-index:1070 !important; opacity:1;}
.hasTooltip .tooltip .tooltip-arrow{ bottom:-5px !important; }
.hasTooltip .tooltip .tooltip-inner{ background-color:#333 !important;}

.well-consigninfoid {
  border:1px solid #e9573f !important;
}

.inboxTable .unread {
  color: #333;
}

.inboxTable .read {
  color: #999;
}

#customerReturnVisitImageList .mfp-close {
  display: none;
}

.btn.multiselect .caret {
  float: right;
  margin-left: 5px;
  margin-top: 7px;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 6px solid;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}

.btn-default.back-white {
  background-color: #fff;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
  float:right !important;
}

.multiple-box {
  width: 100%;
  .btn-group{
    width: 100%;
  }
  .multiselect {
    width: 100%;
    text-align: left;
  }
  .multiselect-container{
    width: 100%;
  }
}

.rechargeable{
  position: relative;
  cursor: pointer;
  .tips{
    display: none;
    position: absolute;
    left: 10px;
    top: -40px;
    padding: 11px 0;
    width: 140px;
    text-align: center;
    background: #0cf;
  }
  &:hover{
    .tips{
      display: block;
    }
  }
}

.sqlContent {
  margin: 0;
  max-width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.pre-box{
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  pre{
    display: none;
    white-space: normal;
  }
  &.active{
    height: auto;
    padding-top: 11px;
    padding-bottom: 11px;
    pre{
      display: block;
    }
  }
}

.radio-custom label {
  padding-left: 25px !important;
}

.workbench-row .rowTitle{
  position: relative;
  padding-left: 12px;
  height: 28px;
  line-height: 28px;
  .line{
    position: absolute;
    left: 0;
    top: 7px;
    height: 14px;
  }
}

.orderRow .line {
  border-left: 3px #f5b521 solid;
}

.orderRow .workbench-item{
  border-top:2px solid #f5b521;
}

.returnOrderRow {
  .line {
    border-left: 3px #21c1f5 solid;
  }
  .workbench-item{
    border-top:2px solid #21c1f5;
  }
}

.customerRow {
  .line {
    border-left: 3px #9f6fef solid;
  }
  .workbench-item{
    border-top:2px solid #9f6fef;
  }
}

.auditRow {
  .line {
    border-left: 3px #3997de solid;
  }
  .workbench-item{
    border-top:2px solid #3997de;         
  }
}

.financeRow {
  .line {
    border-left: 3px #3ac2c2 solid;
  }
  .workbench-item{
    border-top:2px solid #3ac2c2;         
  }
}

.statementRow {
  .line {
    border-left: 3px #51c65f solid;
  }
  .workbench-item{
    border-top:2px solid #51c65f;         
  }
}

.workbench-item {
  position: relative;
  display: block;
  height: 100px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-color: transparent #ccc #ccc #ccc;
  color: #333;
  &:hover {
    text-decoration: none;
    color: #333;
  }
  &.nodata {
    cursor: default;
  }
  &.hasdata:hover{
    box-shadow: 0 0 8px 2px rgba(0,0,0,.2);
  }
  .title{
    font-size: 12px;
    font-weight: 700;
  }
  .num{
    height: 24px;
    line-height: 24px;
  }
}

.system-notice{
  .notice-item{
    display: flex;
    position: relative;
    list-style: none;
    padding-right: 5px;
    width: 100%;
    font-size: 13px;
    cursor: pointer;
    .notice-circle{
      position: absolute;
      top: 10px;
      left: -10px;
      display: block;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background: #3bafda;
    }
    .notice-title{
      flex: 1;
    }
    .notice-time{
      width: 67px;
      color: #666;
    }
  }
}

.home-img{
  position: absolute;
  left: 50%;
  top: 80px;
  margin-left: -250px;
}

.clearfix:after{
  content: "";
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  overflow: hidden;
}

.btn-light{
  width: 150px;
  height: 42px;
  line-height: 42px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}
