*{margin: 0; padding: 0;}
/* 头部*/
#header{
	height: 1.052rem; 
	width: 100%;
	background: red;
}
/* 主体 */
#content{
	background-color: #f7e8d2; 
	box-sizing: border-box; 
	padding: 0.359em 0.734rem 1.078rem 0.766rem;
	position: relative;
}


/* 活动头部 */
#act-head{
	height: 5.36rem;
	background: url(../../../images/recycleCustomer/activityHea.jpg) no-repeat 100% 100%;
	background-size:100% 100%; 
	box-sizing: border-box;
	padding: 1.894rem 0.609rem 0 0.688rem;
}
.head-txt{
	width: 7.203rem;
	height: 1.953rem;
	font-family: PingFang-SC-Regular;
	font-size: 0.375rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.531rem;
	letter-spacing: 0.028rem;
	color: #ffffff;
	margin: 0 auto;
}
/* 活动主内容 */
#act-content{	
	box-sizing: border-box;
	background-color: #c24a3f;
	border-bottom-left-radius: 0.4688rem;
	border-bottom-right-radius: 0.4688rem;
	padding-top: 0.25rem;
}
/* 内容主体信息 */
#act-info{
	width: 7.313rem;
	padding-bottom: 1.055rem;
	margin: 0 auto;
}
.infoBox{
	font-family: MicrosoftYaHei;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0.022rem;
	margin-bottom: 0.422rem;
	color: #f7e8d2;
}
.infoTitle{
	height: 0.328rem;
	line-height: 0.328rem;
	margin-bottom: 0.266rem;
	font-size: 0.344rem;
}
.infoInput{
	width: 7.313rem;
	height: 1.141rem;
	line-height: 1.141rem;
	background-color: #ffffff;
	box-shadow: inset 0.033rem 0.033rem 0.156rem 0rem 
		rgba(228, 182, 178, 0.64);
	border-radius: 0.063rem;
	border: solid 0.016rem rgba(121, 33, 25, 0.5);
	box-sizing: border-box;
}
input:focus, textarea:focus{
	outline: none;
}
.infoInput input{
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	line-height: 1.141rem;
	font-size: 0.344rem;
	color: #333;
	box-sizing: border-box;	
	text-indent: 0.266rem;
}
.infoInputArea{
	width: 7.313rem;	
	line-height: 1.141rem;
	background-color: #ffffff;
	box-shadow: inset 0.033rem 0.033rem 0.156rem 0rem 
		rgba(228, 182, 178, 0.64);
	border-radius: 0.063rem;
	border: solid 0.016rem rgba(121, 33, 25, 0.5);
	box-sizing: border-box;
	padding-top: 0.313rem;
}
.myTextArea{
	display: block;
	width: 100%;
	height: 1.812rem;
	border: 0;
	font-size: 0.344rem;
	color: #333;
	box-sizing: border-box;	
	text-indent: 0.266rem;
}
.starIcon{
	color: #f7e8d2;
}

#sureBtn{
	margin: 0 auto;
	padding-top: 0.591rem;
}
.sureBtn{
	width: 4.703rem;
	height: 1.109rem;	
	border-radius: 0.438rem;
	/*
	background-image: linear-gradient(
		#45e7c3, 
		#45e7c3), 
	linear-gradient(
		#45e7c3, 
		#45e7c3);
	background-blend-mode: normal, 
		normal;
	box-shadow: 0px 5px 0px 0px 
		rgba(119, 98, 98, 0.2);
		*/
	background: url(../../../images/recycleCustomer/sureBtn.jpg) no-repeat center center;
	
	text-align: center;
	line-height: 1.109rem;
	cursor: pointer;
	margin: 0 auto;
}

.alertBox{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;	
	background-color: rgba(0,0,0,0.4);	
	filter:alpha(opacity=40);
	font-family: MicrosoftYaHei-Bold;
	font-size: 0.344rem;
	letter-spacing: 0rem;
	display: none;
	
}
.alertTips{
	width: 8.031rem;
	height: 4.203rem;
	background: #f7e8d2;
	border-radius: 0.469rem;
	position: absolute;
	left: 1.016rem;
	top: 6.15rem;
}
.alert-title{
	width: 4.969rem;
	height: 0.984rem;
	margin: 0 auto;
	line-height: 0.984rem;
	text-align: center;
	color: #333;
	font-size: 0.334rem;
	background: url(../../../images/recycleCustomer/bottomLine.jpg) no-repeat center bottom;
}
.cancel{
	padding: 0.15rem;
	position: absolute;
	right: 0.422rem;
	top: 0.25rem;
}
.cancelBtn{
	display: block;
	width: 0.25rem;
	height: 0.25rem;
	background: url(../../../images/recycleCustomer/cancelBtn.jpg) no-repeat center center;
	
}
.alert-content{
	margin-top: 0.656rem;
	margin-bottom: 0.703rem;
	text-align:center;
	font-size: 0.406rem;
	color: #815a22;
	line-height: 0.438rem;
}
.alert-btn{
	width: 3.594rem;
	height: 0.938rem;
	line-height: 0.938rem;
	text-align: center;
	margin: 0 auto;
	background-color: #815a22;
	border-radius: 0.469rem;
	color: #fff;
}
.alertBox.open{
	display: block;
}
.alertBox.close{
	display: none;
}