
html,body {
	//font-family: 'Microsoft YaHei', 'PingFang SC';
	font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
}

.accordion-toggle{
	cursor: pointer;
}

.table > thead > tr > th {
	font-weight: bolder;
	// white-space: nowrap;
}

.table td .productImg {
	width:46px;
	display: inline-block;
	cursor: pointer;
	img {
		width:100%;
	}
}

table.atl-tabl {
	tbody td:first-child {
		text-align: left;
	}
}

.bg-loading {
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    background: rgba(255,255,255,0.5);
    overflow: hidden;
    z-index: 999;

    .box-loading {
	    position: relative;
	    top: 30%;
	}

	.loading {
	    width: 200px;
	    text-align: center;
	    left: 20px;
	    height: 60px;
	    line-height: 60px;
	    display: inline-block;
	    border: 2px solid #d3d3d3;
	    background: #fff;
	    border-radius: 3px;
	    margin-left: -142px;

	    i {
		    background: url(../img/loading.gif) no-repeat center top;
		    width: 20px;
		    height: 30px;
		    display: inline-block;
		    vertical-align: -7px;
		    margin-right: 5px;
		}
	}
}

.admin-form .checkbox {
	border-radius:5px;
}

.has-error {
	em {
		display: block!important;
	    margin-top: 6px;
	    padding: 0 3px;
	    font-family: Arial, Helvetica, sans-serif;
	    font-style: normal;
	    line-height: normal;
	    font-size: 0.85em;
	    color: #DE888A;
	}
}

