html {
	font-size: 62.5%;
}

html, body, div, section, img {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	width: 100%;
}

.body-wrapper {
	width: 100%;
	max-width: 64rem;
	margin: 0 auto;
	height: 100%;
	background: #000;
}


/*在线抢购预留*/
.online-buying {
	width: 100%;
	box-sizing: border-box;
	max-width: 64rem;
	margin: 0 auto;
	// margin-top: -2.4rem;
	padding-bottom: 1rem;
	position: relative;
}

.online-buying .form-conponent-wrapper {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	margin: 0 1.2rem;
}

.online-buying .form-conponent-wrapper .white-line-bg {
	width: 100%;
	border-bottom: 1px solid #fff;
}

.online-buying .title {
	background: #000;
    border: none;
    font-size: 2.4rem;
    font-weight: bold;
    color: #fff;
    font-family: msyh;
    font-style: normal;
    text-align: center;
    width: 20rem;
    opacity: 1;
    padding: 0px;
    z-index: 5;
    line-height: 3.2rem;
    margin: 1rem auto 0;
    padding-bottom: 1.4rem;
}

.online-buying .form-conponent-wrapper .form-control-wrapper {
    height: 4.6rem;
    /*margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: .7rem;*/
    margin: .7rem 1rem 1rem 1rem;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: .5rem;
}

.online-buying .form-conponent-wrapper .form-control-wrapper .form-control__label {
	width: 7rem;
    font-size: 1.2rem;
    color: rgb(102, 102, 102);
    margin-left: 1rem;
}

.online-buying .form-conponent-wrapper .form-control-wrapper .form-control__label .form-control__required {
	color: red;
}

.online-buying .form-conponent-wrapper .form-control-wrapper .form-control__container {
	font-size: 12px;
    color: rgb(102, 102, 102);
    text-align: left;
}

.online-buying .form-conponent-wrapper .form-control-wrapper .form-control__container input {
	width: 16rem;
	padding: 1rem 0;
	border: none;
	outline:none;
}

.online-buying .btn-wrapper {
	width: 100%;
	box-sizing: border-box;
	padding: 0 2.2rem;
}

.online-buying .btn-wrapper .submit-btn {
	display: block;
	width: 100%;
	box-sizing: border-box;
    height: 3.6rem;
    line-height: 3.6rem;
    background-color: rgb(135, 19, 19);
    color: rgb(255, 255, 255);
    margin-top: 1.4rem;
    text-align: center;
    border: none;
    border-radius: .5rem;
    font-size: 1.8rem;
}

.online-buying .splitter-hacker {
	position: relative;
	width: 100%;
	height: 0;
	z-index: 1;
	width: 29rem;
}

.online-buying .splitter-hacker .form-control__splitter{
	height: 1px; 
	width: 100%; 
	background-color: rgb(209, 209, 209); 
	opacity: 1; 
	top: 6.5px; 
	display: block;
}

// .am-modal-content {
// 	width:20rem !important;
// }

.customerSurveyInput {
	font-size:1.5rem !important;
}